*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.regimg{
    width: 100vh;
    object-fit: cover;
}
.regheading{
    margin: 10px 0;
}
.regConatiner{
    width: 50%;
    margin-top: 30px;
    margin-left: auto;
}
.inputConainer{
    margin: 20px 0;
}
.inputConainer .MuiTextField-root{
    width: 80%;
}
.MuiButton-root{
    width: 80%;
}
.google{
    width: 70%;
    margin-top: 20px;
    cursor: pointer;
}
.MuiPaper-root{
    width: 80%;
}
.eye_position{
    position: relative;
}

.eye{
    position: absolute;
    top: 20px;
    right: 85px;
}
.css-y8tvd1-MuiPaper-root-MuiAlert-root {
   margin: 10px 0;
    background-color:transparent !important;
}


/* forgot password */

.forgot{
    background-color: rgb(214, 197, 197);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forgot Button{
    width: 15%;
    margin:  10px 0;
}


/* logout  */
.singoutBtn{
    width: 10%;
    position: absolute !important;
    top: 50% !important;
    left: 45% !important;
}