.chatbox {
    width: 90%;
    /* height: 100%; */
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 10px 10px 5px lightblue;
    padding: 25px;
    box-sizing: border-box;
    margin: auto;
}

.profile {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0, .65);
    padding: 20px 0;
}

.signal {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 10px 10px 5px lightblue;
    margin-right: 40px;

}

.round {
    height: 15px;
    width: 15px;
    background-color: #00FF75;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 10px 10px 5px lightblue;

}

.signal img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.name {
    color: black;
}

.msgbox {
    height: 80vh;
    overflow-y: scroll;

}

.msgitem {
    display: flex;
    flex-direction: column;
}

.getmsg {
    background-color: rgb(194, 206, 206);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 13px 52px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-start;
    margin-bottom: 20px;
}

.getimg {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-start;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
}

.getimg>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.getmsg+time {
    align-self: flex-start;
}

.getmsg::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent rgb(194, 206, 206);
}

.sendmsg {
    background-color: rgb(87, 144, 231);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 13px 52px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
}

.sendmsg::after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: -16px;
    top: auto;
    bottom: -20px;
    border: 22px solid;
    border-color: transparent transparent transparent rgb(87, 144, 231);
}

.sendmsg+time {
    align-self: flex-end;
}

.sendimg {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 3px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    border: 2px solid blueviolet;
}

.sendimg>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sendimg>div {
    height: 100%;
}

.getimg>div {
    height: 100%;
}

.getaudio {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-start;
    margin-bottom: 20px;
}

.sendaudio {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
}

.getvideo {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-start;
    margin-bottom: 20px;
}

.sendvideo {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 7px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    align-self: flex-end;
    margin-bottom: 20px;
}
.msgwirtecontainer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding-top: 10px;
}
.msgWrite{
    width: 80%;
}
.msgWrite input{
    width: 100%;
    font-size: 20px;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border: 0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;

}
.msgsend{
    width: 15%;
}